{% from "bootstrap5/form.html" import render_form %}

{% block content %}

<div class="container px-4 px-lg-5 my-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <h4 class="mb-3">Leave a Comment</h4>

      {% if current_user.is_authenticated %}
        {{ ckeditor.load() }}
        {{ render_form(form) }}
      {% else %}
        <p class="text-muted">
          <a href="{{ url_for('login') }}">Log in</a> to leave a comment.
        </p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
